@font-face {
    font-family: "Pacifico";
    src: url(./assets/fonts/Pacifico-Regular.ttf);
}
@font-face {
    font-family: "Nunito";
    src: url(./assets/fonts/Nunito-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #E4DCD1;
    overflow-y: hidden;
}

header {
    background-color: #F0A49F;
    background: linear-gradient(to bottom, #F0A49F 50%, #E4DCD1 50%);
    width: 100%;
    height: 25%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#containerLogo {
    width: 120px;
    height: 120px;
}

#containerLogo div {
    position: relative;
    background-color: #F0A49F;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#containerLogo img {
    width: 92%;
    height: 92%;
} 

#titleVisita {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.3em;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

#containerContato {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 65%;
    padding: 0 10px;
    gap: 20px;
    padding-top: 20px;
}

#containerContato div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.iconBox {
    width: 55px;
    height: 55px;
    display: block;
    position: relative;
}

.iconBox img {
    width: 100%;
    height: 100%;
    min-width: 55px;
    min-height: 55px;
}

label {
    font-size: 1.2em;
    white-space: normal;
}

.textContat {
    font-family: "Nunito",Arial, Helvetica, sans-serif;
}

@keyframes vibrate {
    0% {
        transform: rotate(0);
    }
    10% {
        transform: rotate(5deg);
    }
    20% {
        transform: rotate(10deg);
    }
    30% {
        transform: rotate(5deg);
    }
    40% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(-5deg);
    }
    60% {
        transform: rotate(-10deg);
    }
    70% {
        transform: rotate(-5deg);
    }
    80% {
        transform: rotate(5deg);
    }
    90% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0);
    }
   
    
}

.vibrate {
    animation: vibrate 0.5s ease-in-out;
}

footer {
    width: 100%;
    height: 5%;
    background-color: #F0A49F;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

small {
    width: 100%;
    text-align: center;
    font-size: 0.6em;
    display: block;
}
small a {
    text-decoration: none;
    color: black;
}
#iconeLocal {
    border-radius: 12px;
}

.ancora {
    border-radius: 15px;
}

@keyframes alongar {


    0% {
        width: 30px;
        opacity: 0;
    }

    10%,20%,30%,40%,50%,60%,70%,80%,90% {
        width: 200px;
        opacity: 1;
    }
    
    100% {
        width: 30px;
        opacity: 0;
    }
}

.copyAnimation::after {
    content: "Email Copiado";
    text-align: center;
    width: 30px; 
    font-family: "Nunito" ,Arial, Helvetica, sans-serif;
    background-color: #F0A49F;
    position: absolute;
    bottom: 10%;
    left: 50%;
    border-radius: 20px;
    overflow: hidden;
    white-space: nowrap;
    animation: alongar 1.4s ease-in-out both;
    transform: translate(-50%, 0);
}

.copySiteAnimation::after {
    content: "Link Copiado";
    text-align: center;
    width: 30px; 
    font-family: "Nunito" ,Arial, Helvetica, sans-serif;
    background-color: #F0A49F;
    position: absolute;
    bottom: 10%;
    left: 50%;
    border-radius: 20px;
    overflow: hidden;
    white-space: nowrap;
    animation: alongar 1.4s ease-in-out both;
    transform: translate(-50%, 0);
}


#containerEndereco {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 85%;
    height: 48%;
    background-color: #F0A49F;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    font-family: "Nunito",Arial, Helvetica, sans-serif;
    transform: translate(-50%, -50%);
}

#containerEndereco span {
    font-size: 1.2em;
}

#containerEndereco h2 {
    margin-bottom: 20px;
    margin-top: 20px;
}

#containerEndereco div {
    display: flex;
    flex-direction: column;
}

#containerEndereco a {
    color: black;
}

#btnToMaps {
    width: 30%;
    padding: 5px;
    border-radius: 8px;
    border: 0;
}

#iconPinLocal {
    position: absolute;
}

#linkLoc {
    margin-top: 10px;
}

#containerBtnExit {
    position: absolute;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: start;
}

#btnClose {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border: 0;
    background-color: transparent;
    color: #E4DCD1;
}
#btnClose i {
    font-size: 3em;
}

#btnShare {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #E4DCD1;
    color: #F0A49F;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding-right: 3px;
}

#btnShare:hover {
    cursor: pointer;
    transform: scale(1.1);
}

@media (min-width: 430px) and (max-width: 800px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #containerContato {
        width: 250px;
    }   
    
    #titleVisita {
        font-size: 1.8em;
    }

    #containerLogo {
        width: 140px;
        height: 140px;
    }
    
    #containerLogo div {
        width: 140px;
        height: 140px;
    }

    #containerEndereco {
        width: 70%;
    }
}

@media (min-width: 800px){

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        height: 30%;
    }

    #containerLogo {
        width: 180px;
        height: 180px;
    }
    
    #containerLogo div {
        width: 180px;
        height: 180px;
    }
    
    #containerLogo img {
        width: 92%;
        height: 92%;
    } 

    #containerContato {
        width: 320px;
        height: 45%;
        margin-top: 0;
    } 
    
    #containerContato div {
        gap: 20px;
    }
    
    #titleVisita {
        font-size: 2em;
    }

    .iconBox {
        width: 65px;
        height: 65px;
        display: block;
        position: relative;
    }
    
    .iconBox img {
        width: 100%;
        height: 100%;
        min-width: 65px;
        min-height: 65px;
    }
    
    label {
        font-size: 1.5em;
        white-space: normal;
    }

    i:hover {
        cursor: pointer;
    }

    #containerEndereco {
        width: 50%;
        height: 65%;
    }

    #containerEndereco h2 { 
        font-size: 2em;
    }

    #containerEndereco span { 
        font-size: 1.3em;
    }

    #containerEndereco a { 
        font-size: 1em;
    }


}