@font-face {
    font-family: "Pacifico";
    src: url(./assets/fonts/Pacifico-Regular.ttf);
}
@font-face {
    font-family: "Nunito";
    src: url(./assets/fonts/Nunito-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #E4DCD1;
    overflow-y: hidden;
}

header {
    background-color: #F0A49F;
    background: linear-gradient(to bottom, #F0A49F 50%, #E4DCD1 50%);
    width: 100%;
    height: 25%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#containerLogo {
    width: 120px;
    height: 120px;
}

#containerLogo div {
    position: relative;
    background-color: #F0A49F;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#containerLogo img {
    width: 92%;
    height: 92%;
} 

#titleVisita {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.3em;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

#containerContato {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 65%;
    padding: 0 10px;
    gap: 20px;
    padding-top: 20px;
}

#containerContato div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.iconBox {
    width: 55px;
    height: 55px;
    display: block;
    position: relative;
}

.iconBox img {
    width: 100%;
    height: 100%;
    min-width: 55px;
    min-height: 55px;
}

label {
    font-size: 1.2em;
    white-space: normal;
}

.textContat {
    font-family: "Nunito",Arial, Helvetica, sans-serif;
}

@keyframes vibrate {
    0% {
        transform: rotate(0);
    }
    10% {
        transform: rotate(5deg);
    }
    20% {
        transform: rotate(10deg);
    }
    30% {
        transform: rotate(5deg);
    }
    40% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(-5deg);
    }
    60% {
        transform: rotate(-10deg);
    }
    70% {
        transform: rotate(-5deg);
    }
    80% {
        transform: rotate(5deg);
    }
    90% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0);
    }
   
    
}

.vibrate {
    animation: vibrate 0.5s ease-in-out;
}

footer {
    width: 100%;
    height: 5%;
    background-color: #F0A49F;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

small {
    width: 100%;
    text-align: center;
    font-size: 0.6em;
    display: block;
}
small a {
    text-decoration: none;
    color: black;
}
#iconeLocal {
    border-radius: 12px;
}

.ancora {
    border-radius: 15px;
}